# Byte-compiled / optimized / DLL files
.env
.idea
__pycache__/

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.DS_Store
*.sqlite3
media/